{% extends "base.html" %}
{% block content %}
<div class="mx-auto" style="max-width: 400px;">
  <h2>Смена пароля</h2>
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <form method="post">
    <div class="mb-3">
      <label>Старый пароль</label>
      <input type="password" name="old_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Новый пароль</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>
    <button class="btn btn-warning w-100">Изменить</button>
  </form>
</div>
{% endblock %}
